h1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #7ffdd7;
       
}
 body{
    text-align: justify;
 }
.imagenscrum{
    width: 100%;
    text-align: center; 
}

h2{
    text-align: center;
    border-bottom: 2px solid  #459aaf;
    
}
h6 {
    text-align: center;
}


.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}







p{
    text-align: justify;
   
}
nav {
    list-style-type: none;
    margin: 100;
    padding: 0;
    overflow: hidden;
    background-color: #006b8b;
    border-radius: 12px
    
    
    
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #459aaf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}
img {
    width: 50%; /* La imagen ocupará el 100% del ancho de su contenedor */
    max-width: 50%; /* La imagen no superará su tamaño original si es más pequeña que el contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
    align-content: center;
   
  }

 footer{
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    background-color: #459aaf;
    font-size: 20px;
    border-radius: 2px     
    padding-left 30px; 
 }
 #logo-digitalers{
    width: 10%; /* La imagen ocupará el 100% del ancho de su contenedor */
    max-width: 10%; /* La imagen no superará su tamaño original si es más pequeña que el contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
    padding-block: 1%
   
 }

 #flecha{
    width: 2%; /* La imagen ocupará el 100% del ancho de su contenedor */
    max-width: 2%; /* La imagen no superará su tamaño original si es más pequeña que el contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
    padding-block: 1%;
    float: right; 
    
 }
 #flechafinal{
    width: 5%; /* La imagen ocupará el 100% del ancho de su contenedor */
    max-width: 5%; /* La imagen no superará su tamaño original si es más pequeña que el contenedor */
    float: right; 
    list-style-type: none;
    margin: 100;
    padding: 0;
    overflow: hidden;
    padding: 10px;
    border-radius: 12px
   
 }

.carta{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #7ffdd7;
    padding: 10px;
}


 .card {
  
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 80px;
  margin-left: 80px;
}


.card h2 {
  margin: 10px 0;
}


.card p {
  margin: 0;
}